.recipe{

  .card {
    max-height: 302px;
    height: 288px;
    margin-bottom: 20px;
    overflow: overlay;
    cursor: pointer;
  }
}

  // .dev-description {
  //   max-height: 30px;
  //   overflow: overlay;
  // }